title {
    background-color: aliceblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:large;
}

main {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}